h1 {
  font-size: 45px;
  text-align: center;
  margin: 0px;
}
p {
  text-align: center;
}
img {
  display: block;
  margin: auto;
}
a {
  color: black;
  text-decoration: none;
}
#s {
  color: orange;
}
#n1 {
  color: black;
}
#n2 {
  color: black;
}
#n3 {
  color: black;
}
.contents ol {
  border-right: 1px solid black;
  width: 130px;
  margin: 0;
  padding: 20px;
}
.contents {
  display: grid;
  grid-template-columns: 150px 1fr;
}
#article {
  display: grid;
  grid-template-columns: 900px 1fr;
  padding-left: 25px;
}
#image {
  padding-left: 25px;
}
#title {
  border-bottom: 1px solid black;
  padding: 20px;
}